@import "reset"
@import "mixins"
@import "variables"
@import "fonts"

.configurator
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    width: 1366px
    height: 900px
    border-radius: 10px
    font-size: 35px
    font-family: $font-main

    overflow: hidden
    @include main-grid

    background-color: $color-bg-light
    box-shadow: $box-shadow-main
